In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import json

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

df = pd.read_csv("movies_metadata.csv")
df_ratings = pd.read_csv("ratings.csv")
df_credits = pd.read_csv("credits.csv")

C:\Users\Mikolaj\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
def desc(dataframe):
    for col in dataframe:
        print(dataframe[col].describe())

# 1. Checking columns and missing data.

In [3]:
df.info()
df.shape
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
adult                    45466 non-null object
belongs_to_collection    4494 non-null object
budget                   45466 non-null object
genres                   45466 non-null object
homepage                 7782 non-null object
id                       45466 non-null object
imdb_id                  45449 non-null object
original_language        45455 non-null object
original_title           45466 non-null object
overview                 44512 non-null object
popularity               45461 non-null object
poster_path              45080 non-null object
production_companies     45463 non-null object
production_countries     45463 non-null object
release_date             45379 non-null object
revenue                  45460 non-null float64
runtime                  45203 non-null float64
spoken_languages         45460 non-null object
status                   45379 non-null object
tagline                  20412 non-null object
title                    45460 non-null object
video                    45460 non-null object
vote_average             45460 non-null float64
vote_count               45460 non-null float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

(45466, 24)

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [4]:
df.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [5]:
def description(dataframe):
    for col in dataframe:
        print(dataframe[col].describe())

In [6]:
df.isnull().sum().sum()

105562

In [7]:
all = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/2919).sort_values(ascending=False)
missing = pd.concat([all, percent], axis= 1, keys = ["Total", "Percent"])
#missing = missing.drop(missing[(missing["Total"]==0)].index)
missing #all missing values

missing.index

                       Total    Percent
belongs_to_collection  40972  14.036314
homepage               37684  12.909901
tagline                25054   8.583076
overview                 954   0.326824
poster_path              386   0.132237
runtime                  263   0.090099
status                    87   0.029805
release_date              87   0.029805
imdb_id                   17   0.005824
original_language         11   0.003768
vote_average               6   0.002055
vote_count                 6   0.002055
revenue                    6   0.002055
spoken_languages           6   0.002055
title                      6   0.002055
video                      6   0.002055
popularity                 5   0.001713
production_companies       3   0.001028
production_countries       3   0.001028
original_title             0   0.000000
id                         0   0.000000
genres                     0   0.000000
budget                     0   0.000000
adult                      0   0.000000

Index(['belongs_to_collection', 'homepage', 'tagline', 'overview',
       'poster_path', 'runtime', 'status', 'release_date', 'imdb_id',
       'original_language', 'vote_average', 'vote_count', 'revenue',
       'spoken_languages', 'title', 'video', 'popularity',
       'production_companies', 'production_countries', 'original_title', 'id',
       'genres', 'budget', 'adult'],
      dtype='object')

In [8]:
investigate_cols = missing[(missing["Percent"]>=0.3)].index.tolist()
df_investigate = df[investigate_cols]
df_investigate["id"] = df["id"]

df_investigate.columns
df_investigate.shape #we will take care about those columns later on and then merge this with 
                     #cleant ones as we have 'id' to find out what is what

C:\Users\Mikolaj\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Index(['belongs_to_collection', 'homepage', 'tagline', 'overview', 'id'], dtype='object')

(45466, 5)

In [9]:
#columns that have less then 0.3% of missing ones

drop_cols = missing[(missing["Percent"]<=0.3)].index.tolist()
df[drop_cols].columns

Index(['poster_path', 'runtime', 'status', 'release_date', 'imdb_id',
       'original_language', 'vote_average', 'vote_count', 'revenue',
       'spoken_languages', 'title', 'video', 'popularity',
       'production_companies', 'production_countries', 'original_title', 'id',
       'genres', 'budget', 'adult'],
      dtype='object')

In [10]:
df = df[drop_cols].dropna()
df.shape
df.isnull().sum().sum()

#we have now a dataframe with less observations (as about 1k of them were dropped) and no missing 
#values, merge function will be used later on and those 1k will be dropped from df_investigate 
#as well, we can merge on 'id' column

df.columns

(44717, 20)

0

Index(['poster_path', 'runtime', 'status', 'release_date', 'imdb_id',
       'original_language', 'vote_average', 'vote_count', 'revenue',
       'spoken_languages', 'title', 'video', 'popularity',
       'production_companies', 'production_countries', 'original_title', 'id',
       'genres', 'budget', 'adult'],
      dtype='object')

We have now a dataframe with less observations (as about 1k of them were dropped) and no missing 
values, merge function will be used later on and those 1k will be dropped from df_investigate 
as well so that 'id' corresponds to given movie.

# Changing columns.

Changing False/True to binary, NaN to "None" etc.

In [11]:
#to binary 
df["video"] = df["video"]*1

In [12]:
df["adult"].describe()
df = df.replace({"adult": {'True': 1, 'False': 0}})
df["adult"].head(5)

count     44717
unique        2
top       False
freq      44709
Name: adult, dtype: object

0    0
1    0
2    0
3    0
4    0
Name: adult, dtype: int64

Problem: some of 'budget' inputs are not number but links to some jpg (ex. index 976). I don't know how to figure it out maybe it has something to do with json, maybe drop observations with when string has '/'.

In [13]:
cols_tonumeric = ['budget']

for cols in cols_tonumeric:
    df[cols] = pd.to_numeric(df[cols])
    
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44717 entries, 0 to 45465
Data columns (total 20 columns):
poster_path             44717 non-null object
runtime                 44717 non-null float64
status                  44717 non-null object
release_date            44717 non-null object
imdb_id                 44717 non-null object
original_language       44717 non-null object
vote_average            44717 non-null float64
vote_count              44717 non-null float64
revenue                 44717 non-null float64
spoken_languages        44717 non-null object
title                   44717 non-null object
video                   44717 non-null object
popularity              44717 non-null object
production_companies    44717 non-null object
production_countries    44717 non-null object
original_title          44717 non-null object
id                      44717 non-null object
genres                  44717 non-null object
budget                  44717 non-null int64
adult                   44717 non-null int64
dtypes: float64(4), int64(2), object(14)
memory usage: 7.2+ MB

So that above cell gives back error for 19730 for example "/ff9qCepilowshEtG2GYWwzt2bs4.jpg", similary for [19730, 29502, 29501, 29500, 29503, 35587]

Looks like link is some sort of picture, I don't know how that relates to budget.

# Second dataset.

In [14]:
df_investigate.columns

Index(['belongs_to_collection', 'homepage', 'tagline', 'overview', 'id'], dtype='object')

In [15]:
df_investigate = df_investigate.replace({"overview": {'No overview found.': None}})
df_investigate = df_investigate.replace({"overview": {'No Overview': None}})

df_investigate["overview"].describe()
pd.isnull(df_investigate["overview"]).sum() #has 1094 empty rows, could be dropped if neccessary.

count     44372
unique    44305
top
freq          5
Name: overview, dtype: object

1094

Problem: how to break down columns like "belongs_to_collection"? json.loads() gives a bug

In [18]:
t=df_investigate["belongs_to_collection"][0]
t

json.loads(t)

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)

Column 'homepage' has links to movies with its description, but some of those are expired (mgm.com/). In general I think it would be best to get rid of that column as those links doesn't really help with anything.

In [20]:
df_investigate = df_investigate.drop(["homepage"], axis=1)

Column 'tagline' has marketing slogans for particular movies, which could be an interest for NLP.

In [21]:
df_investigate["tagline"].head(5)

0                                                 None
1            Roll the dice and unleash the excitement!
2    Still Yelling. Still Fighting. Still Ready for...
3    Friends are the people who let you be yourself...
4    Just When His World Is Back To Normal... He's ...
Name: tagline, dtype: object

Column 'belongs_to_collection' is itself a dataframe with 4 columns (id, name, poster_path and backdrop_path) and it gives information about whether a movie belongs to a larger collection of movies (say James B

In [22]:
test = {"col1": 123, "col2" : 312}
test = [test]
pd.DataFrame(test)

   col1  col2
0   123   312

# Looking at ratings.

This dataset consists of movie rankings of 270 896 users, whole file has 26 024 289 ratings of 45 115 movies. One last column represents when rating was given. 

Note that ratings in this file are in scale up to 1.0 -> 5.0 with halfs. We can multiply the whole column by two to have the same ratings everywhere.

In [23]:
n = np.array(df_ratings.loc[df_ratings["movieId"]==862]["rating"].shape).tolist()[0]
#number of ratings of movieId=110 in 'ratings'

print("Number of ratings of movieId=862 in 'ratings'", n, 
      ", average vote from ratings for 862 movie", 
      (df_ratings.loc[df_ratings["movieId"]==862]["rating"].sum())*2/n)

md_count = df.loc[df["id"]=="110"]["vote_count"].tolist()[0]
md_average = df.loc[df["id"]=="110"]["vote_average"].tolist()[0]

print("Number of ratings of movie id=862 in 'metadata'", md_count, 
      ", average vote from 'metadata' for 862 movie", 
      md_average)

Number of ratings of movieId=862 in 'ratings' 374 , average vote from ratings for 862 movie 7.197860962566845
Number of ratings of movie id=862 in 'metadata' 246.0 , average vote from 'metadata' for 862 movie 7.8

Problem: averages of movies don't correspond, in ratings Toy Story has 7.2 while in metadata 7.7, also vote_count is different suggesting these 'id' are not the same.

Maybe they correspond to different ratings so that on the top of ratings we have in 'ratings' we have also averages from other source (averages for same movies are very similar in both files).

In [27]:
df_ratings.head(5)
df_ratings.shape

df_ratings["userId"].unique()
len(df_ratings["movieId"].unique())

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

(26024289, 4)

array([     1,      2,      3, ..., 270894, 270895, 270896], dtype=int64)

45115

In [25]:
df_ratings["movieId"]

0              110
1              147
2              858
3             1221
4             1246
5             1968
6             2762
7             2918
8             2959
9             4226
10            4878
11            5577
12           33794
13           54503
14           58559
15           59315
16           68358
17           69844
18           73017
19           81834
20           91500
21           91542
22           92439
23           96821
24           98809
25           99114
26          112552
27               5
28              25
29              32
             ...
26024259     41566
26024260     44191
26024261     44195
26024262     45499
26024263     45722
26024264     46578
26024265     48385
26024266     48394
26024267     48516
26024268     48774
26024269     48780
26024270     49272
26024271     49530
26024272     50872
26024273     50954
26024274     51255
26024275     51662
26024276     52973
26024277     53996
26024278     54001
26024279     54286
26024280     54503
26024281     55820
26024282     56174
26024283     56367
26024284     58559
26024285     60069
26024286     63082
26024287     64957
26024288     71878
Name: movieId, Length: 26024289, dtype: int64

In [26]:
df["id"]

0           862
1          8844
2         15602
3         31357
4         11862
5           949
6         11860
7         45325
8          9091
9           710
10         9087
11        12110
12        21032
13        10858
14         1408
15          524
16         4584
17            5
18         9273
19        11517
20         8012
21         1710
22         9691
23        12665
24          451
25        16420
26         9263
27        17015
28          902
29        37557
          ...
45434    325439
45435     63266
45436     45527
45437    455661
45438    327237
45439     84710
45440     39562
45441     14008
45443     49279
45444     44333
45445     49277
45446     49271
45447     44324
45448    122036
45449     14885
45450     49280
45451    106807
45452    276895
45453    404604
45454    420346
45455     67179
45456     84419
45457    390959
45458    289923
45459    222848
45460     30840
45462    111109
45463     67758
45464    227506
45465    461257
Name: id, Length: 44717, dtype: object

In [28]:
df.loc[df["id"]=="862"]

,poster_path,runtime,status,release_date,imdb_id,original_language,vote_average,vote_count,revenue,spoken_languages,title,video,popularity,production_companies,production_countries,original_title,id,genres,budget,adult
0,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,81.0,Released,1995-10-30,tt0114709,en,7.7,5415.0,373554033.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,0,21.9469,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",Toy Story,862,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",30000000,0

# Looking at credtis.

File 'credits' has 10 more observations but generally nth row of 'credits' corresponds to nth movie in 'metadata', using merge function we combine those two dataframes based on 'id' so that now every row represent a movie and new variables 'cast' and 'crew' are added.

In [29]:
#changing id to be a string, then we can merged dfs

type(df_credits['id'][0])
df_credits['id'] = df_credits['id'].apply(str)
type(df_credits['id'][0])

numpy.int64

str

In [30]:
df_merged = df.merge(df_credits, on = "id", how ="right")
df_merged.head(5)
df_merged.shape

,poster_path,runtime,status,release_date,imdb_id,original_language,vote_average,vote_count,revenue,spoken_languages,...,popularity,production_companies,production_countries,original_title,id,genres,budget,adult,cast,crew
0,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,81.0,Released,1995-10-30,tt0114709,en,7.7,5415.0,373554033.0,"[{'iso_639_1': 'en', 'name': 'English'}]",...,21.9469,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",Toy Story,862,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",30000000.0,0.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,104.0,Released,1995-12-15,tt0113497,en,6.9,2413.0,262797249.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",...,17.0155,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",Jumanji,8844,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",65000000.0,0.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,101.0,Released,1995-12-22,tt0113228,en,6.5,92.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",Grumpier Old Men,15602,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",0.0,0.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,127.0,Released,1995-12-22,tt0114885,en,6.1,34.0,81452156.0,"[{'iso_639_1': 'en', 'name': 'English'}]",...,3.85949,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",Waiting to Exhale,31357,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",16000000.0,0.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,/e64sOI48hQXyru7naBFyssKFxVd.jpg,106.0,Released,1995-02-10,tt0113041,en,5.7,173.0,76578911.0,"[{'iso_639_1': 'en', 'name': 'English'}]",...,8.38752,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",Father of the Bride Part II,11862,"[{'id': 35, 'name': 'Comedy'}]",0.0,0.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

(45538, 22)

In [ ]:
#tests
np.random.seed(0)
left = pd.DataFrame({'key': ['A', 'B', 'C', 'D'], 'value': np.random.randn(4)})    
right = pd.DataFrame({'key': ['B', 'D', 'E', 'F', "A"], 'value': np.random.randn(5)})

left
right

merged = left.merge(right, on="key")
merged